body {
    margin: 0;/* отступы верх,низ ,права, лево */
    font-family: "Montserrat", sans-serif; /* название штрифта */
    font-size: 15px;/* высота шрифта */
    line-height: 1.6;/* отступы между строк */
    color: #333;/* цвет шрифта */
}
*,
* :before,/*создаёт псевдоэлемент до содержимого элемента. 
Этот псевдоэлемент работает только совместно со стилевым свойством content, 
которое определяет содержимое для вставки.*/
* :after{/*создаёт псевдоэлемент после содержимого элемента. 
    Этот псевдоэлемент работает только совместно со стилевым свойством content, 
    которое определяет содержимое для вставки.*/
    box-sizing: border-box;/*Свойства width и height включают в себя значения полей 
    и границ, но не отступов (margin). Эта модель используется браузером 
    Internet Exporer в режиме несовместимости.https://caniuse.com/*/
}